/* bookmarks window */
.bookmarks { right:0; width:267px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
  box-sizing:border-box; }
.bookmark-top { font:14px/19px 'Arial'; padding-bottom:12px; z-index:1; color:#a2a2a2; margin:0 16px; }

.bookmarks .overlay-wrap { padding:30px 0 10px; }

.bookmark-body { padding:0 16px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.default .bookmark-body { border-left:4px solid #96a6a6; padding:0 16px 0 12px; }
.basic .bookmark-body { border-left:4px solid #96a6a6; padding:0 16px 0 12px; }
.tiny .bookmark-body { border-left:4px solid #8c9194; padding:0 16px 0 12px; }
.interesting .bookmark-body { border-left:4px solid #5fb142; padding:0 16px 0 12px; }
.important .bookmark-body { border-left:4px solid #e1a400; padding:0 16px 0 12px; }
.cool .bookmark-body { border-left:4px solid #ff9d00; padding:0 16px 0 12px; }
.hot .bookmark-body { border-left:4px solid #0099df; padding:0 16px 0 12px; }
.funny .bookmark-body { border-left:4px solid #d261c3; padding:0 16px 0 12px; }
.awesome .bookmark-body { border-left:4px solid #1e3c50; padding:0 16px 0 12px; }

.bookmarks-list { width:267px; }
.bookmarks-list > ul > li { padding-bottom:29px; }

.bookmarks a { color:#444; text-decoration:none; }
.bookmark-text { font:15px/19px 'PT Sans', 'Arial'; color:#444; }
.bookmark-text a { margin-left:8px; }
.bookmark-text.bookmark-text a:hover { color:#ff501a; }
.bookmarks .icon-type { float:left; margin-left:1px; }

.bookmark-buttons { position:relative; }
.bookmark-buttons, .comment-buttons { padding-top:14px; }
.bookmark-buttons:after, .comment-buttons:after { content:""; display:table; clear:both; }
.bookmark-buttons a, .comment-buttons a { float:left; display:block; font:14px/32px 'PT Sans', 'Arial';
  background-color:#efeee9; text-align:center; border:1px solid #efeee9;
  -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.bookmark-buttons a:hover,
.comment-buttons a:hover { color:#ff5000; }
.action-icon { width:40px; height:34px; text-align:left;
  background:url('../images/bookmarks-sprite.png') no-repeat;
  background-image:url('../images/bookmarks-sprite.svg'), none;
  -webkit-background-size:120px 68px; -moz-background-size:120px 68px;
  -o-background-size:120px 68px; background-size:120px 68px; }

.bookmark-buttons .comment-bookmark { float:right; margin-right:6px; background-position:-40px top; }
.bookmark-buttons .comment-bookmark:hover { background-position:-40px -34px; }

.bookmark-buttons .drop-bookmark { overflow:hidden; text-indent:-999px; text-decoration:none; float:right;
  margin-right:0; background-position:left top; }
.bookmark-buttons .drop-bookmark:hover { background-position:left -34px; }

.bookmark-buttons .share-bookmark { width:189px; }
.bookmark-buttons .share-bookmark .action-icon { width:26px; height:32px; display:inline-block; vertical-align:top;
  background-position:-91px top; }
.bookmark-buttons .share-bookmark:hover .action-icon,
.bookmark-buttons .share-bookmark.active .action-icon { background-position:-91px -34px; }
.bookmark-buttons .comment-bookmark + .share-bookmark { width:143px; }
.bookmark-buttons .share-bookmark.active { color:#ff4d15; }

.bookmarks .bookmark-comment { color:#000; font:15px/19px 'PT Sans', 'Arial'; font-style:italic; display:none;
  border-top:1px solid #dcdee0; margin-top:14px; padding-top:11px; word-wrap:break-word; }

.bookmarks .comment-box { display:none; padding-top:14px; width:234px; }
.comment-box textarea { border:1px solid #c0c0c0; font:15px/19px 'PT Sans', 'Arial';
  color:#8c8c8c; font-style:italic; width:100%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
  box-sizing:border-box; padding:7px 6px; height:117px; resize:none; }
.comment-button { width:114px; cursor:pointer; }
.bookmarks .comment-cancel { color:#8c8c8c; }
.bookmarks .comment-save { margin-right:6px; }

/* bookmark anchor */
/*#add-bookmark { display:block; width:46px; height:102px;
  background:url('../images/button-bookmark.png') left top no-repeat;
  opacity:0.3; position:absolute; left:65px; bottom:-32px; z-index:4; }
#add-bookmark.hover { opacity:1; bottom:-92px; }
#add-bookmark.clicked { opacity:1;background-position:right top; }*/

.bookmarks .sharebookmark-list { display:none; background:#fff; width:189px;
  position:absolute; top:48px; left:0; z-index:100;
  padding-top:9px; padding-bottom:5px; -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.16); }
.bookmark-buttons .comment-bookmark + .share-bookmark + .sharebookmark-list { width:143px; }
.sharebookmark-list li { display:block; font:14px/43px 'Arial'; cursor:pointer;
  background-image:url('../images/social-icons.png'); background-repeat:no-repeat; }
.bookmarks .sharebookmark-list li { height:43px; padding-left:8px; text-indent:43px; }
.bookmark-buttons .comment-bookmark + .share-bookmark + .sharebookmark-list li { padding-left:4px; }
.sharebookmark-list li:hover { color:#ff4d15; }
.bookmarks .sharebookmark-list li:hover { background-color:#efeee9; }
.bookmarks .sharebookmark-list li.vk { background-position:0 0; }
.bookmarks .sharebookmark-list li.fb { background-position:0 -43px; }
.bookmarks .sharebookmark-list li.tw { background-position:0 -86px; }
.topList { bottom:35px; top:initial; -webkit-box-shadow:0px -5px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow:0px -5px 5px 0px rgba(0, 0, 0, 0.16); padding-top:5px; padding-bottom:9px; }

.facebook { width:574px; }
.facebook .tooltip-wrap { padding:14px 20px 30px; }
.facebook textarea { border:1px solid #c0c0c0; font:15px/19px 'PT Sans', 'Arial';
  color:#000; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
  box-sizing:border-box; padding:7px 6px; resize:none; width:100%; height:250px; }
.facebook-title { color:#000; font:14px/34px 'Arial'; font-weight:bold; background-color:#f0eeea; }
.facebook-title .action-icon { background-position:-91px top; display:block; float:left;
  margin-left:8px; width:27px; }
.quote-text { padding-top:14px; font:15px/20px 'Arial'; display:none; }
.quote-limit { font:13px/19px 'PT Sans', 'Arial'; float:right; color:#adadad; }
.quote-comment.red .quote-limit { color:red; }
.share-book-data { padding-top:14px; position:relative; }
.share-book-data:after { clear:both; content:""; display:block; }
.share-book-cover { float:left; margin-right:12px; }
.share-book-title { font:18px/26px 'Arial'; padding-top:5px; }
.share-book-author { font:12px/16px 'Arial'; }
.share-url { position:absolute; bottom:-2px; left:87px; text-transform:uppercase; font:11px/11px 'Arial';
  color:#9197a3; }
.share-buttons { position:absolute; right:0; bottom:0; }
.share-buttons button { float:left; display:block; font:14px/32px 'PT Sans', 'Arial'; background:#efeee9;
  color:#444; width:110px; height:34px; border:1px solid #efeee9; }
button.share-cancel-button { color:#8c8c8c; margin-right:10px; }
button.share-button {}
.share-buttons button:hover { color:#ff5000; }

/* create edit bookmark window */
.create-bookmark { right:150px; top:250px; width:289px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
  box-sizing:border-box; z-index:4; }
.create-bookmark .overlay-wrap { padding:22px 18px 0; }

.create-bookmark .comment-box { padding-top:23px; }

.share-box { padding:20px 0 12px; }
.share-top { font:14px/14px 'Arial'; font-weight:bold; color:#000; padding-bottom:13px; }
.create-bookmark .sharebookmark-list:after { content:""; display:table; clear:both; }
.create-bookmark .sharebookmark-list li { width:50%; height:34px; float:left; line-height:37px; text-indent:37px; }
.create-bookmark .sharebookmark-list li.vk { background-position:-9px -4px; }
.create-bookmark .sharebookmark-list li.fb { background-position:-9px -47px; }
.create-bookmark .sharebookmark-list li.tw { background-position:-9px -92px; }

.create-bookmark-buttons {}
.create-bookmark-buttons:after { content:""; display:table; clear:both; }
.create-bookmark-buttons a { font:14px/50px 'Arial'; color:#4c4c4c; text-decoration:none;
  text-align:center; display:block; width:50%; height:50px; float:left; background:#efeee9;
  -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
  border-radius:0px 0px 5px 0px; -moz-border-radius:0px 0px 5px 0px; -webkit-border-radius:0px 0px 5px 0px; }
.create-bookmark-buttons a.create-bookmark-save { border-right:1px solid #d1d1d1;
  border-radius:0px 0px 0px 5px; -moz-border-radius:0px 0px 0px 5px; -webkit-border-radius:0px 0px 0px 5px; }
.create-bookmark-buttons a.create-bookmark-cancel { color:#b2b2b2; }
.create-bookmark-buttons a:hover { color:#ff5000; }

.comment-text { display:none; }
.create-bookmark .bookmark-comment { display:none; padding-top:23px; font:14px/19px 'Arial'; color:#000; }
.onlyShare .color-pick,
  .onlyShare .comment-box,
  .onlyShare .create-bookmark-buttons { display:none !important; }
.onlyShare .overlay-wrap { padding-top:0; }
.onlyShare .comment-text { display:block; }
.onlyShare .comment-text p:before { content: '\201C'; }
.onlyShare .comment-text p:after { content: '\201D.'; }

.icon-bookmark-text { width:18px; height:18px; position:absolute; left:0; top:0;
  display:block; background:url('../images/icon-bookmark-text.png') no-repeat; }

.bookmark-tooltips { width:208px; height:108px; }
.bookmark-tooltips div { margin:0 auto; width:71px; height:71px;
  background:url('../images/bookmark-status.png') no-repeat;
  background-image:url('../images/bookmark-status.svg'), none; }
.bookmark-created, .bookmark-deleted, .bookmark-copyed { display:block; }
.bookmark-created div { background-position:0 0; }
.bookmark-deleted div { background-position:-142px 0; }
.bookmark-copyed div { background-position:-71px 0; }
.bookmark-tooltips p { font:16px/18px 'Arial'; text-align:center; display:none; }
.bookmark-created p.b-created-text { display:block; }
.bookmark-deleted p.b-deleted-text { display:block; }
.bookmark-copyed p.b-copyed-text { display:block; }
  display:block; background:url('../images/icon-bookmark-text.png') no-repeat; }

button.share-action-fb { width:150px; }
.share-action-fb span { display:inline-block; vertical-align:middle; width:18px; height:34px;
  background:url('../images/facebook-icon.png') no-repeat center 9px; }